# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# =================================================
# Globals 🤖
# =================================================
# local env files
.env*
!.env.example

# Configuration Files
config/*
!config/*example.yaml

# =================================================
# Backend ignores 💻
# =================================================

# Generated code
internal/api/generated/*
internal/models/generated/*
internal/models/structs_generated.go

# =================================================
# Frontned ignores 🕹
# =================================================

# Generated code
web/ui/src/graphql/schema.json
web/ui/src/graphql/generated.ts

# dependencies
web/ui/node_modules
web/ui/*.pnp
web/ui/*.pnp.js

# testing
web/ui/coverage

# next.js
web/ui/.next/
web/ui/out/

# production
web/ui/build

# misc
.DS_Store
*.pem

# debug
web/ui/*npm-debug.log*
web/ui/*yarn-debug.log*
web/ui/*yarn-error.log*

# vercel
web/ui/*.vercel

# typescript
web/ui/**.tsbuildinfo
