{{ define "import/additional/marshal_binary" }}
  "bytes"
  "encoding/gob"
{{ end }}

{{ define "model/additional/marshal_binary" }}

func ({{ $.Receiver }} *{{ $.Name }}) MarshalBinary() ([]byte, error) {
  return json.Marshal({{ $.Receiver }})
}

func ({{ $.Receiver }} *{{ $.Name }}) UnmarshalBinary(data []byte) error {
  return json.Unmarshal(data, {{ $.Receiver }})
}

{{ end }}